
/* Common */

.sidebarContainer{
  
}

.snipBox{
  width: 100%;
  margin: 0;
  padding: 1rem;
  border: 1px #547051 solid;
}

.snipFlex{
  _display: block;
  padding-bottom: 10px;
  border-bottom: whitesmoke 2px solid;
}

.heading{
 padding-top: 20px;
 font-family: 'Lato', sans-serif;
 font-weight: 300;
 text-align: center;
 text-transform: uppercase;
 font-size: 20px;
}

.media{
  width: 100%;
  padding: 20px 0;
}
 
.media img{
 width: 100%;
 max-height: 100%;
} 

.snipMeta h2{
  font-size: 16px;
  padding: 10px 0;
}

.snipMeta span{
  font-size: 12px;
  font-weight: 400 bold;
  padding: 10px 0;
  font-style: italic;
}

.snipMeta p{
  font-size: 16px;
  padding: 1rem 0;
  
}

.textPromo{
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
}

/* BUTTON */

.btn{
  background-color: rgb(45, 93, 92);
  color: whitesmoke;
  border-radius: 5px;
  font-family: 'Montserrat', sans-serif;
  width: auto;
  height: 35px;
  /* line-height: 40px; */
  text-align: center;
  line-height: 2;
}

.btn:hover{
  background-color: whitesmoke;
  color: rgb(45, 93, 92);
  cursor: pointer;
}

/* SNIPPET */


.exFlex{
  display: flex;
  margin: 20px 5px;
  
}

.exHeading{
  display: block;
  border-bottom: 1px solid gray;
  height: 40px;
  margin: 20px 0;
}
.exMeta span{
  font-size: 14px;
  display: block;
  font-weight: thin;
  font-style: italic;
  color: gray;
}

.number{
  font-size: 2.5rem;
  color: darkslategray;
}

.extext{
  padding: 0 10px 10px 10px;
}

.exMeta{
  
}

